*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.aab
*.apk
local.properties
*.jks
*.keystore
app/libs/router.jar
app/libs/sam.jar
app/libs/i2p-android-client.aar
*.log
logs/
